.autocomplete {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 7px 7px -2px $black-text;
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 585px;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 555px;
  }
  &__history,
  &__tips {
    display: flex;
    flex-flow: row nowrap;
  }
  &__title {
    width: 165px;
    text-align: right;
    color: #b4b4b4;
    font: 17px/22px 'Roboto-Regular';
  }
  &__result {
    width: calc(100% - 165px);
    padding-left: 45px;
    font: 18px/23px 'Roboto-Light';
    &-link {
      color: $black-text;
      display: block;
      margin-bottom: 5px;
      &.empty {
        color: #b4b4b4;
      }
    }
  }
}