.catsmenu {
  background: #fff;
  position: absolute;
  left: 0;
  top: calc(100% - 10px);
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: z-index .5s ease-in, opacity .5s linear, top .5s linear;
  .container {
    display: flex;
  }
  &__btn{
    &-icon {
      span {
        position: relative;
        &:first-child {
          top: 0;
        }
        &:last-child {
          bottom: 0;
        }
        transition: all .5s linear;
      }
    }
    &.active {
      .catsmenu__btn-icon {
        span {
          background: $black-text;
          transition: all .5s linear;
          &:first-child {
            top: 7px;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            bottom: 7px;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  &__left {
    width: 335px;
  }
  &__right {
    width: calc(100% - 336px);
  }
  &__list {
    padding: 20px 0 20px 10px;
    border-right: 1px solid $silver-line;
    width: 100%;
    height: 100%;
  }
  &__item {
    &-link {
      display: block;
      padding: 5px 25px 5px 35px;
      font: 17px/22px 'Roboto-Light';
      color: $black-text;
      position: relative;
      transition: color .5s;
      img {
        position: absolute;
        left: 0;
        top: 5px;
      }
      &:hover {
        color: #ff8181;
        transition: color .5s;
      }
    }
    &.parent {
      .catsmenu__item-link {
        &::after {
          content: "";
          position: absolute;
          right: 15px;
          top: 11px;
          display: block;
          width: 10px;
          height: 10px;
          border-right: 2px solid $silver-line;
          border-bottom: 2px solid $silver-line;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__result {
    padding: 20px 10px 20px 65px;
  }
  &__submenu {
    &-title {
      margin-bottom: 15px;
      font: 20px/25px 'Roboto-Black';
    }
    &-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      & > .catsmenu__submenu-item {
        width: 30%;
        margin-bottom: 40px;
      }
    }
    &-item {
      &-link {
        color: $placeholder;
        display: inline-block;
        margin-bottom: 10px;
      }
      &.parent > .catsmenu__submenu-item-link {
        font: 17px/22px 'Roboto-Black';
        color: $black-text;
      }
    }
  }

  &.active {
    box-shadow: 0 7px 7px -2px $black-text;
    top: calc(100% + 1px);
    z-index: 100;
    opacity: 1;
    transition: z-index .5s ease-out, opacity .5s linear, top .5s linear;
  }
}
.catsmenu__submenu-list > .catsmenu__submenu-item > .catsmenu__submenu-item-link {
  font: 17px/22px 'Roboto-Black';
  color: $black-text;
}