.content {
  font: 24px/29px 'Roboto-Light';
  &::after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
  }
  ul {}
  ol {}
  li {}
  p {
    margin-bottom: 30px;
  }
  a {}
  img {}
  blockquote {}
  table {}
  thead {}
  tbody {}
  tr {}
  th {}
  td {}
}