.footer {
  width: 100%;
  background: $dark-blue-bg;
  padding: 20px 0 30px;
  font-family: 'Roboto-Light';
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &__list {
    width: 20%;
    max-width: 210px;
    padding-bottom: 50px;
    &-item {
      font-size: 18px;
      color: $silver-footer-text;
      display: block;
      margin-bottom: 5px;
    }
    &:nth-child(3) {
      width: 25%;
      max-width: 240px;
    }
  }

  &__title {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__price {
    width: 20%;
    max-width: 220px;
    padding-bottom: 50px;
    &-block {
      margin-bottom: 10px;
      font-size: 18px;
      color: $silver-footer-text;
    }
    &-item {
      color: $silver-footer-text;
      &-desc {}
    }
    &-list {
      /*display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;*/
      &-item {
        width: 35px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }

  &__contact {
    width: 22%;
    padding-bottom: 50px;
  }

  &__social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
    &-link {
      width: 50px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-img {}
  }

  &__phone {
    margin-bottom: 10px;
    &-link {
      font: 30.5px/35.5px 'Roboto-Medium';
      color: #FFFFFF;
    }
  }

  &__address {
    font-size: 17px;
    &-link {
      text-decoration: underline;
      color: $silver-footer-text;
    }
  }

  &__copyright {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: $silver-footer-text;
    padding-top: 15px;
    &-text {
      font-size: 12.3px;
    }
    &-date {
      font-size: 15.69px;
    }
  }
}