.header {
  font: 14px/19px 'Roboto-Medium';
  margin-bottom: 30px;

  &__line-first {
    padding: 10px 0;
    background: $light-silver-bg;
    position: relative;
    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__city {
    width: 195px;
    &-title {
      color: $black-text;
      position: relative;
      padding-left: 25px;
      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: calc(50% - 6px);
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid $black-text;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    &-item {
      margin-right: 25px;
      &-link {
        color: $black-text;
      }
    }
    &-sub {
      display: none;
      position: absolute;
      top: 100%;
      margin-top: 10px;
      margin-left: -10px;
      z-index: 100;
      background: #fff;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 0 7px 1px rgba(0,0,0, .3);
      &-item {
        margin-bottom: 10px;
        &-link {
          color: $black-text;
          &:hover {
            text-decoration: underline;
          }
        }
        &.active {
          .header__menu-sub-item-link {
            text-decoration: underline;
            color: #bababa;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }

  &__line-two {
    padding: 1px 0;
    border-bottom: 1px solid $silver-line;
    position: relative;
    & > .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    &-link {}
    &-img {
      width: 145px;
    }
  }

  &__search {
    width: 100%;
    max-width: 355px;
    &-form {
      width: 100%;
      position: relative;
    }
    &-input {
      width: 100%;
      padding: 7px 7px 7px 40px;
    }
    &-button {
      position: absolute;
      left: 10px;
      top: calc(50% - 11px);
      border: 0;
      display: block;
      height: 22px;
      width: 22px;
      background: url('/assets/images/search.png') no-repeat #FFFFFF;
      background-position: left center;
      background-size: contain;
      cursor: pointer;
    }
    &-autocomplete {
      position: absolute;
      top: calc(100% - 20px);
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: z-index .5s ease-in, opacity .5s linear, top .5s linear;
      &.active {
        z-index: 100;
        opacity: 1;
        top: calc(100% - 1px);
        transition: z-index .5s ease-out, opacity .5s linear, top .5s linear;
      }
    }
  }

  &__phone {
    font-size: 26.97px;
    line-height: 26.97px;
    &-item {
      color: $dark-blue-text;
      display: block;
      width: 100%;
    }
  }

  &__account {
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &-register {
      color: $placeholder;
      margin-right: 17px;
    }
    &-login {
      display: inline-block;
      padding: 8px 30px;
      color: $placeholder;
      border: 1px solid $border-button;
      border-radius: 20px;
    }
  }

  &__cart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &-link {
      display: block;
      width: 30px;
      height: 25px;
      background: url('/assets/images/cart.png') no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: .5;
    }
  }

  &__line-thirty {
    font-size: 17px;
    border-bottom: 1px solid $silver-line;
    box-shadow: 0 4px 4px 0 $silver-shadow;
    position: relative;
  }

  &__cats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    &-btn {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      margin-right: 35px;
      width: 165px;
      padding: 20px 0 20px 10px;
    }
    &-icon {
      margin-right: 13px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      width: 24px;
      height: 17px;
      span {
        display: block;
        width: 100%;
        height: 3px;
        background: $border-button;
      }
    }
    &-text {
      color: $black-text;
    }
    &-list {
      width: 100%;
      max-width: 940px;
      font-family: 'Roboto-Light';
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &-item {
      margin-right: 30px;
      &-link {
        display: block;
        color: $black-text;
        padding: 20px 10px 17px;
        border-bottom: 3px solid transparent;
        &:hover,
        &.active {
          border-bottom-color: $blue-bg;
        }
      }
      &:last-child {
        margin-right: 20px;
      }
    }
  }
}