.quize {
  @extend %wrap;
  &-mini {
    width: 245px;
    border: 1px solid $silver-line;
    border-radius: 5px;
    padding: 15px;
    font: 16px/26px 'Roboto-Regular';
    &__title {
      font: 16px/26px 'Roboto-Medium';
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 15px;
    }
    .btn {
      &.orange {
        width: 100%;
      }
    }
  }
  &__content {
    @extend %wrap__content;
  }
  &__close {
    @extend .icon-close;
  }
  &.active {
    @extend %wrap__actve;
  }
}