.banners {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &__item {
    width: 50%;
    min-width: 290px;
    &:first-child {
      padding-right: 15px;
    }
    &:last-child {
      padding-left: 15px;
    }
  }
}