.btn {
  display: inline-block;
  padding: 8px 5px;
  border: 1px solid $border-button;
  background: #FFFFFF;
  color: $light-silver-text;
  font: 12px/17px 'Roboto-Regular';
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &.--red {
    font: 14px/19px 'Roboto-Bold';
    color: #FFFFFF;
    background: $red-bg;
    border: 0;
  }
  &.--blue,
  &.blue {
    font: 14px/19px 'Roboto-Bold';
    color: #FFFFFF;
    background: $blue-bg;
    border: 0;
  }
  &.orange {
    font: 14px/19px 'Roboto-Bold';
    color: #FFFFFF;
    background: $orange-bg;
    border: 0;
  }
  &.--orange-gradient {
    font: 14px/19px 'Roboto-Bold';
    color: #FFFFFF;
    @include list-product-btn($top-bg-gradient, $bottom-bg-gradient);
    border: 0;
  }
  &.--green {
    font: 14px/19px 'Roboto-Bold';
    color: #FFFFFF;
    background: $green-bg;
    border: 0;
  }
}