.callback {
  background: $border-button;
  margin-bottom: 30px;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  &__text {
    width: 50%;
    max-width: 443px;
    min-width: 290px;
    font: 24px/29px 'PFHighwaySansPro-bold';
    color: $gray-text;
  }
  &__form {
    width: 53%;
    min-width: 290px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    &-input {
      width: 70%;
      max-width: 385px;
      border: 2px solid $gray-callback-border !important;
      border-radius: 25px !important;
      background: url('/assets/images/phone.png') no-repeat #FFFFFF;
      background-position: 15px 5px;
      background-size: 25px;
      padding: 10px 10px 10px 45px;
      &.not-ico {
        background: #FFFFFF;
        padding: 10px;
      }
    }
    &-btn {
      @extend .btn.--red;
      width: 180px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}