.city {
  @extend %wrap;
  &__content {
    @extend %wrap__content;
  }
  &__title {
    margin-bottom: 15px;
    &-text {
      font: 14px/19px 'Roboto-Bold';
      margin-bottom: 15px;
    }
    &-wrap {
      display: flex;
    }
    &-link {
      font: 14px/19px 'Roboto-Bold';
      color: $blue-bg;
      padding-left: 30px;
      margin-right: 30px;
      position: relative;
      &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: -2px;
        display: block;
        width: 20px;
        height: 23px;
        background: url('/assets/images/cityMarker.png') no-repeat;
      }
    }
    &-shops {
      color: $black-text;
    }
  }
  &__maplink {
    margin-bottom: 15px;
    &-link {
      color: #9f9f9f;
      text-decoration: underline;
    }
  }
  &__search {
    margin-bottom: 20px;
    position: relative;
    &-input {
      padding: 7px 7px 7px 40px;
    }
    &-submit {
      position: absolute;
      left: 10px;
      top: calc(50% - 11px);
      border: 0;
      display: block;
      height: 22px;
      width: 22px;
      background: url('/assets/images/search.png') no-repeat #fff;
      background-position: left center;
      background-size: contain;
      cursor: pointer;
    }
  }
  &__list {
    columns: 3 auto;
    column-gap: 60px;
  }
  &__item {
    margin-bottom: 5px;
    &-link {
      color: $black-text;
    }
  }
  &__close {
    @extend .icon-close;
  }
  &.active {
    @extend %wrap__actve;
    .city__content {
      margin-top: 0;
      transition: margin-top .5s linear;
    }
  }
  &-load {
    position: absolute;
    top: calc(100% - 10px);
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
    z-index: -1;
    opacity: 0;
    transition: z-index .5s ease-in, opacity .5s linear, top .5s linear;
    &__title {
      margin: 10px 0 15px 5px;
    }
    &.active {
      z-index: 1;
      opacity: 1;
      top: calc(100% + 10px);
      transition: z-index .5s ease-out, opacity .5s linear, top .5s linear;
    }
  }
}