.icon-info {
  background: url('/assets/images/info.png') no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 27px;
  height: 27px;
  background: url('/assets/images/close.png') no-repeat;
}