.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 15.52px;
  color: #FFFFFF;
  @include list-product-btn($top-bg-gradient, $bottom-bg-gradient);
  &.--orange-gradient {
    @include list-product-btn($top-bg-gradient, $bottom-bg-gradient);
  }
  &.--orange {
    background: $orange-bg;
  }
  &.--green {
    background: $green-bg;
  }
  &.--blue {
    background: $blue-bg;
  }
}