.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .page-item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    .page-link {
      color: $light-silver-text;
    }
    &.disabled {
      color: $silver-footer-text;
      .page-link {
        color: $silver-footer-text;
      }
    }
    &.active {
      .page-link {
        text-decoration: underline;
      }
    }
  }
}