.products {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 30px;
  &__title {
    margin-bottom: 30px;
    width: 100%;
  }
  &__list:not(.swiper-wrapper) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__item {
    width: 260px;
    max-width: 260px;
    padding: 15px;
    border: 1px solid $placeholder;
    border-radius: 5px;
    &-link {
      color: $light-silver-text;
      font: 12px/17px 'Roboto-Regular';
      display: block;
    }
    &-block {
      margin-bottom: 15px;
      &.--price-block {
        font-family: 'Roboto-Medium';
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &-title {
      color: $silver-text-title;
      text-decoration: underline;
      font-size: 14px;
      line-height: 19px;
    }
    &-desc {}
    &-sale {
      @extend .label;
    }
    &-prices {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
    &-price {
      font-size: 24.77px;
      line-height: 29.77px;
      color: $black-text;
      &.--old {
        font-size: 14.45px;
        line-height: 19.45px;
        color: $old-price-text;
        position: relative;
        padding: 0 2px;
        width: max-content;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          display: block;
          width: 100%;
          height: 1px;
          background: $old-price-text;
        }
      }
    }
    &-btns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
    &-btn {
      width: 110px;
      @extend .btn;
    }
    &-available {
      font: 12px/17px 'Roboto-Regular';
      color: $light-silver-text;
      &-link {
        color: $blue-text;
      }
    }
  }
  &.--favorites {
    .products__item:nth-child(1) {
      .products__item-sale {
        @extend .label.--orange-gradient;
      }
      .products__item-btn.--color {
        @extend .btn.--red;
      }
    }
    .products__item:nth-child(2) {
      .products__item-sale {
        @extend .label.--orange;
      }
      .products__item-btn.--color {
        @extend .btn.--blue;
      }
    }
    .products__item:nth-child(3) {
      .products__item-sale {
        @extend .label.--green;
      }
      .products__item-btn.--color {
        @extend .btn.--orange-gradient;
      }
    }
    .products__item:nth-child(4) {
      .products__item-sale {
        @extend .label.--blue;
      }
      .products__item-btn.--color {
        @extend .btn.--green;
      }
    }
  }
  &__more {
    width: 100%;
    text-align: center;
    margin-top: 28px;
    &-btn {
      @extend .btn;
      @extend .btn.--red;
      display: inline-block;
      font: 18px/23px 'Roboto-Medium';
      width: 100%;
      max-width: 360px;
      border-radius: 5px;
    }
  }
}