.catalog {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  .products__item {
    margin-bottom: 2.5vw;
  }
  .products__more {
    margin-top: 0;
    &-btn {
      margin-bottom: 20px;
    }
  }
  &__filter {
    width: 260px;
    min-width: 260px;
    margin-right: 2.5vw;
    padding: 15px;
    border: 1px solid $placeholder;
    border-radius: 5px;
    &-item {
      margin-bottom: 25px;
      &-title {
        display: block;
        position: relative;
        padding-left: 25px;
        color: $placeholder;
        font: 16px/21px 'Roboto-Regular';
        margin-bottom: 15px;
        &-icon {
          position: absolute;
          left: 5px;
          top: 7px;
          display: block;
          border-left: 1px solid $placeholder;
          border-top: 1px solid $placeholder;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
        }
        &-text {}
        &.--close {
          .catalog__filter-item-title-icon {
            transform: rotate(225deg);
            top: 3px;
          }
        }
      }
      &-block {
        &-wrap {}
      }
      &-input {
        display: inline-block;
        width: 107px;
        margin-right: 10px;
        border: 1px solid $placeholder;
        padding: 10px;
        font: 16px/21px 'Roboto-Regular';
        color: $gray-text;
        &:last-child {
          margin-right: 0;
        }
      }
      &-checkbox {
        display: none;
        &-lb {
          cursor: pointer;
          position: relative;
          padding-left: 25px;
          color: $placeholder;
          font: 16px/21px 'Roboto-Regular';
          &::before {
            content: "";
            position: absolute;
            left: 5px;
            top: calc(50% - 5px);
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            transition: background-color;
          }
        }
        &:checked {
          & + .catalog__filter-item-checkbox-lb::before {
            background-color: $placeholder;
            transition: background-color;
          }
        }
      }
    }
  }
}