.product {
  &__base {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &-article {
      width: 100%;
      margin: 0 0 30px 15px;
      padding-left: 15px;
      border-left: 1px solid $silver-line;
      line-height: 30px;
      color: $placeholder;
    }
    &-img {
      width: 60%;
      max-width: 570px;
      min-width: 290px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      &-prev {
        width: 100px;
        margin-right: 10px;
        height: 100%;
        max-height: 475px;
        overflow: hidden;
        padding: 0;
        margin-bottom: 32px;
        &-list {

        }
        &-item {
          opacity: .7;
          transition: opacity .5s;
          &-img {
            height: 100%;
            width: 100%;
          }
          &.swiper-slide-thumb-active {
            opacity: 1;
            transition: opacity .5s;
          }
        }
      }
      &-base {
        width: calc(100% - 100px - 10px);
        height: 100%;
        max-height: 475px;
        padding: 0;
        margin-bottom: 32px;
        &-img {}
      }
    }
    &-info {
      width: 50%;
      max-width: 530px;
      min-width: 290px;
      display: flex;
      flex-flow: row nowrap;
      &-prop {
        font-size: 15px;
        line-height: 20px;
        color: $placeholder;
        margin-bottom: 5px;
        span {
          color: $black-text;
        }
      }
      &-proplink {
        color: #326fd0;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
        display: block;
      }
      &-right,
      &-left {
        width: 50%;
      }
      &-right {
        padding-left: 10%;
      }
      &-block {
        margin-bottom: 25px;
      }
      &-price {
        font: 27px/27px 'Roboto-Medium';
        margin-bottom: 5px;
      }
      &-sale {
        background: #ffde7d;
        border: 1px solid #fef1c5;
        display: inline-block;
        border-radius: 11px;
        padding: 1px 25px 1px 1px;
        position: relative;;
        font: 15px/17px 'Roboto-Medium';
        &::before {
          content: "";
          position: absolute;
          bottom: 3px;
          right: 10px;
          display: block;
          width: 6px;
          height: 6px;
          border: 2px solid #000000;
          border-radius: 50%;
        }
        &::after {
          content: "";
          position: absolute;
          top: 3px;
          right: 5px;
          display: block;
          width: 6px;
          height: 6px;
          border: 2px solid #000000;
          border-radius: 50%;
          background: inherit;
        }
        &-pr {
          background: #fff;
          padding: 2px;
          border-radius: 10px;
          width: 35px;
          display: inline-block;
          text-align: center;
          margin-right: 5px;
          font: 15px/13px 'Roboto-Light';
        }
      }
      &-delivery {
        font: 13px/18px 'Roboto-Regular';
        padding-left: 25px;
        background: url('/assets/images/delivery-car.png') no-repeat;
        margin-bottom: 10px;
      }
      &-shop {
        margin-bottom: 10px;
        color: $placeholder;
        font: 13px/22px 'Roboto-Regular';
        span {
          color: $black-text;
        }
      }
      .btn {
        width: 100%;
        &.blue {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }
  }
  &__dop {
    display: flex;
    flex-flow: column nowrap;
    &-title {
      display: table;
      width: 100%;
      background: $silver-line;
      border-radius: 5px 5px 0 0;
      &-link {
        display: block;
        color: #515151;
        background: #fafafa;
        border: 1px solid $silver-line;
        border-top-width: 2px;
        border-radius: 5px 5px 0 0;
        padding: 17px 15px 15px;
        font: 14px/19px 'Roboto-Medium';
        text-align: center;
      }
      &-item {
        display: table-cell;
        &.active {
          .product__dop-title-link {
            color: $blue-text;
            background: #fff;
            border-top: 4px solid $blue-bg;
            padding-top: 15px;
            display: block;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: -1px;
              left: 0;
              display: block;
              background: #fff;
              height: 1px;
              width: 100%;
            }
          }
        }
      }
    }
    &-content {
      padding: 45px 25px;
      border-left: 1px solid $silver-line;
      border-right: 1px solid $silver-line;
      &-block {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        .content {
          width: calc(100% - 247px);
          padding-right: 30px;
        }
      }
      &-item {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
  &__option {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    td {
      padding-bottom: 10px;
    }
    &-caption {
      display: block;
      padding-right: 10px;
      background-color: inherit;
    }
    &-desc {
      display: block;
      width: 28px;
      height: 18px;
      background: url('/assets/images/quest.png') no-repeat;
      padding-right: 10px;
      background-color: inherit
    }
    &-wrap {
      display: flex;
      background-color: #fff;
      padding-right: 10px;
      background-image: url('/assets/images/dots.png');
      background-repeat: repeat;
    }
    &-value {
      background-color: inherit;
      padding-left: 15px;
    }
  }
}