<form action="/" class="callback__form">
    <input type="email" name="email" class="callback__form-input">
    <input class="callback__form-input" type="text" name="phone">
    <input type="hidden" name="indexcallback" value="1">
    <input class="callback__form-btn" type="submit" name="submit" value="Отправить">
</form>