@font-face {
  font-family: 'PFHighwaySansPro-bold';
  src: url('/assets/layout/dist/fonts/PFHighwaySansPro-bold/pfhighwaysanspro-bold.eot');
  src: local('☺'), url('/assets/layout/dist/fonts/PFHighwaySansPro-bold/pfhighwaysanspro-bold.woff') format('woff'), url('/assets/layout/dist/fonts/PFHighwaySansPro-bold/pfhighwaysanspro-bold.ttf') format('truetype'), url('/assets/layout/dist/fonts/PFHighwaySansPro-bold/pfhighwaysanspro-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('/assets/layout/dist/fonts/Roboto/Robotothin.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotothin.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('/assets/layout/dist/fonts/Roboto/Robotothinitalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotothinitalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto Light'), local('Roboto-Light'), url('/assets/layout/dist/fonts/Roboto/Robotolight.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotolight.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('/assets/layout/dist/fonts/Roboto/Robotolightitalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotolightitalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto'), local('Roboto-Regular'), url('/assets/layout/dist/fonts/Roboto/Roboto.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Roboto.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/assets/layout/dist/fonts/Roboto/Robotoitalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotoitalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/layout/dist/fonts/Roboto/Robotomedium.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotomedium.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/assets/layout/dist/fonts/Roboto/Robotomediumitalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotomediumitalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/assets/layout/dist/fonts/Roboto/Robotobold.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotobold.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('/assets/layout/dist/fonts/Roboto/Robotobolditalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotobolditalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto Black'), local('Roboto-Black'), url('/assets/layout/dist/fonts/Roboto/Robotoblack.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotoblack.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('/assets/layout/dist/fonts/Roboto/Robotoblackitalic.woff2') format('woff2'), url('/assets/layout/dist/fonts/Roboto/Robotoblackitalic.woff') format('woff'), url('/assets/layout/dist/fonts/Roboto/Robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
