/* NORMOLIZE Styles */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
el,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,h2,h3,h4,h5,h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var{
  background:transparent;
  font-size:100%;
  margin:0;
  padding:0;
  border:0;
  outline:0;
  vertical-align:top;
}
ol, ul {
  list-style:none;
}
a {text-decoration:none;}
blockquote, q {quotes:none;}
table, table td {padding:0;border:none;border-collapse:collapse;}
img {vertical-align:top;}
embed {vertical-align:top;}
button{border:0;}
img {max-width:100%;}
* {
  box-sizing: border-box;
}
html {width:100%;height:100%;}
body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-size: 100%;
  font-family: 'Roboto-Regular';
}
.container {
  width: 100%;
  max-width: 1170px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

/************* inputs *************/
input[type=text],
input[type=email],
textarea {
  outline:none;
  border-radius:3px;
  border: 1px solid $silver-line;
  transition: border-color .5s;
  &:focus {
    border-color: $black-text;
    transition: border-color .5s;
  }
}
input[type="email"][name="email"]:not(.need) {
  display: none !important;
}

/************* placeholders *************/

input[placeholder] {
  color: $placeholder;
  font: 14pt/14pt 'Roboto-Regular';
}
input::-webkit-input-placeholder {
  color: $placeholder;
  font: 14pt/14pt 'Roboto-Regular';
}
input::-moz-placeholder {
  color: $placeholder;
  font: 14pt/14pt 'Roboto-Regular';
}
input:-moz-placeholder {
  color: $placeholder;
  font: 14pt/14pt 'Roboto-Regular';
}
input:-ms-input-placeholder {
  color: $placeholder;
  font: 14pt/14pt 'Roboto-Regular';
}

/************* template *************/
.template {
  margin-bottom: 30px;
  &__block {
    @extend .container;
  }
}

/************* Slider ***************/
.swiper-container {
  padding-bottom: 32px;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 1px;
  background: $border-button;
  transform: none !important;
  &-active {
    background: $red-bg;
  }
}

.mb-20 {
  margin-bottom: 20px !important;
}

.w-100 {
  width: 100% !important;
}