%wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: z-index .5s ease-out, opacity .5s ease-out;
  &__content {
    background: #fff;
    max-width: 70vw;
    position: relative;
    margin-top: -20px;
    transition: margin-top .5s linear;
    padding: 30px;
    font: 14px/19px 'Roboto-Light';
    overflow-y: auto;
  }
  &__actve {
    z-index: 1;
    opacity: 1;
    transition: z-index .5s ease-in, opacity .5s ease-in;
  }
}