$dark-blue-bg: #3d4656;
$light-silver-bg: #dadada;
$red-bg: #e2001a;
$blue-bg: #009ee0;
$green-bg: #41a62a;
$orange-bg: #f15f00;

$top-bg-gradient: #f15f00;
$bottom-bg-gradient: #e3011a;

$dark-blue-text: #205179;
$light-silver-text: #737171;
$silver-text-title: #575353;
$blue-text: #0475a9;
$black-text: #000000;
$placeholder: #b4b4b4;
$silver-footer-text: #d1d1d1;
$old-price-text: #8f8d8d;
$gray-text: #4b4949;
$gray-callback-border: #737373;

$silver-line: #e6e6e6;
$border-button: #cdcdcd;
$silver-shadow: rgba(#c3c3c3, .65);

$content-text-color: #010101;